.icon-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.icon-container .highlight {
  color: red !important;
  background-color: yellow !important;
}

.hidden-text {
  position: relative;
  opacity: 0;
  pointer-events: none;
  user-select: text;
  font-size: 0.1px;
}
